.header {
  display: flex;
  gap: 20px;
  align-items: center;
}

.link {
  padding: 10px;
  border-radius: 5px;
  transition: color 250ms linear, background-color 250ms linear;
}

.active {
  color: blue;
  background-color: rgba(0, 0, 0, 0.1);
}
